*{
    margin: 0;
    padding: 0;
}

body{
    width: 90%;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    flex-wrap: wrap;
}



/* Todo el header/navegación */
header{
    border-bottom: black solid;
    background-image: linear-gradient(to left, rgb(25, 25, 70), rgb(2, 2, 26), black);
    position: fixed;
    top: 0;
    left: 20;
    right: 20;
    width: 90%;
    border-bottom: grey solid 4px;
}

header ul li{
    font-size: 30px;
}

.barNav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2vh 40vh; 
    flex-wrap: wrap;
}

header li{
    display: inline-block;
    position: relative;
}
/* Sub-menú de Fotos */

header ul ul{
    position: absolute;
    display: none;
}

header ul ul li{
  display: block;
  background-color: rgb(59, 58, 58);
  padding: 10px;
  border: black solid 1.5px;
  line-height: 15px;
}

header ul ul li a{
    color: white;
    font-size: 20px;
}

header ul li:hover ul{
    display: block;
}

/* Estilo de links */
a{
    text-decoration: none;
    color:white;
    letter-spacing: 3px;
}

header a:hover{
    border-bottom: 2px white solid;
}

h1 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}


/* Main */
main {
    background-image: linear-gradient(to left, rgb(25, 25, 70), rgb(2, 2, 26), black);
}

.tituloDisc{
    color: white;
    letter-spacing: 25px;
    font-style:normal;
}
/* Fotos y párrafos del main */

.divDisc{
    padding-top: 100px;
    padding-bottom: 15px;
    border-bottom: white solid;
    text-align: center;
}

#container h3{
    color: white;
    padding: 20px 0px 20px 0px;
    border-bottom: white solid;
    letter-spacing: 2px;  
}

.picSize{
    width: 900px;
    min-width: 320px;
    max-width: 90%;
}

#container div ul li{
    padding: 15px 0 15px 0;
}


.disc {
    border-bottom: white solid;
    padding: 20px 0px 20px 0px;
}

/* Estructura flex en columna del main */
#container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.disc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo botones 'Ver Álbums' */

.bottonStyle{
    background-color: white;
    color: black;
    border-radius: 10cm;
    border: rgb(134, 129, 129) solid;
    padding: 10px;
}

#container div ul li:hover a{
    background-image: linear-gradient(to right, rgb(41, 41, 97), rgb(3, 3, 37), black);
    color: white;
}

/* Selecciona el segundo li de cada ul */

#container div ul li:nth-child(2):hover {
    transform: scale(1.2,1.2);
}

/* Footer */

footer {
    background-image: linear-gradient(to left, rgb(25, 25, 70), rgb(2, 2, 26), black);
    height: 100px;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
    list-style-type: none;
}

footer ul li a{
    font-size: 20px;
}

footer ul li{
    text-align: center;
}

footer ul li p {
    color: white;
}

/* Hover en el footer */

footer ul li:hover{
    transform: scale(1.2,1.2);
}

/* Lista de canciones --------- html del disco */ 

.ol1 li:hover a {
    color: rgb(7, 51, 65);
}

ol li{
    display: list-item;
    list-style-type:decimal;
    list-style:upper-roman;
    list-style-position: inside;
    color: white;
    font-size: 30px;
}

.olTemas {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.ol1 {
    line-height: 40px;
}

/* Cortando el misterio, colores */

.mainDisc, .headerDisc, .footerDisc {
    background-image: linear-gradient(to right,rgb(100,100,100), rgb(79, 116, 161), rgb(111,111,150));
}

footer {
    border-top: white solid 1.5px;
}

.footerDisc div li:hover a {
    color: rgb(7, 51, 65);
}

.footerDisc div li:hover p {
    color: rgb(7, 51, 65);
}


/* Entre sueños y castigos */

.headerDisc2, .footerDisc2, .mainDisc2 {
    background-image: linear-gradient(to right,black, rgb(32, 30, 30),rgb(141,141,141),black,black);
}

.ol2 li:hover a{
    color: rgb(141, 27, 27)
}

.footerDisc2 div li:hover a {
    color: rgb(141, 27, 27);
}

.footerDisc2 div li:hover p {
    color: rgb(141, 27, 27);
}

/* En el oscuro galpón */

.headerDisc3, .footerDisc3, .mainDisc3 {
    background-image: linear-gradient(to right,black, rgb(63, 13, 13), rgb(95,7,7), rgb(75,33,33), black);
}

.footerDisc3 div li:hover a {
    color: black;
}

.footerDisc3 div li:hover p {
    color: black;
}



.ol3 li:hover a {
    color: black;
}

/* Sector de otros discos */

#secOtros {
    padding-left: 215px;
    background-image: linear-gradient(to right,rgb(100,100,100), rgb(79, 116, 161), rgb(111,111,150));
    padding-bottom: 30px;
    
}


#secOtros ul {
    list-style-type: none;
}

#secOtros div {
    border: grey solid 1px;
    max-width: 290px;
    padding: 10px;
    background-color: grey;
}

#secOtros h3 {
    color: white;
}

/* Responsive */

@media screen and (max-width: 768px) {

    .barNav {
        display: grid;
        max-width: 90%;
        padding: 5px 15px 5px 15px;
        gap: 0.5em;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    header ul li{
        font-size: 30px;
    }

    header ul ul{
        position: relative;
    }

    header ul ul li{
        background-image: linear-gradient(to right, rgb(41, 41, 97), rgb(3, 3, 37), black);
    }

    header ul ul li:hover a{
        color: rgb(60, 60, 126);
    }

    .tituloDisc {
        font-size: 20px;
    }

    header a {
        border-bottom: white solid 0.5px;
    }

    header li:hover a{
        color:white;
    }
    
    header {
        position: static;
        width: 100%;
    }

    header nav ul{
        margin-left: auto;
        margin-right: auto;
    }

    .divDisc {
        padding-top: 20px;
    }
}


@media screen and (max-width: 480px) {

    .barNav {
        display: grid;
        max-width: 90%;
        padding: 5px 15px 5px 15px;
        gap: 0.5em;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    header ul li{
        font-size: 30px;
    }

    header ul ul{
        position: relative;
    }

    header ul ul li{
        background-image: linear-gradient(to right, rgb(41, 41, 97), rgb(3, 3, 37), black);
    }

    header ul ul li:hover a{
        color: rgb(60, 60, 126);
    }

    .tituloDisc {
        font-size: 20px;
    }

    header a {
        border-bottom: white solid 0.5px;
    }

    header li:hover a{
        color:white;
    }
    
    header {
        position: static;
        width: 100%;
    }

    header nav ul{
        margin-left: auto;
        margin-right: auto;
    }

    .gridPrincipal{
        display: grid;
        margin-top: 20px;
        width: 90%;
        gap: 0.3em;
        grid-template-columns: repeat(1, 1fr);
    }

    .divDisc {
        padding-top: 20px;
    }
}

/* Generales para usar */

.flexRow {
    display: flex;
    flex-direction: row;
}

.integrantes {
    padding-top: 120px;
    line-height: 20px;
    height: 10rem;
}



.integrantes div{
    text-align: left;
    margin-left: 10px;
}

.span1 p {
    color: rgb(41, 41, 97);
}

.span2 p {
    color: rgb(107, 14, 14);
}

.integrantes h3 {
    letter-spacing: 5px;
    color: white;
    margin-bottom: 15px;
}

.integrantes span{
    color: white;
}

.integrantes div span img {
    width: 15px;
    height: 15px;
    max-width: 15px;
    min-width: 15px;
}

.integrantes div span i {
    color: black;
}


.olTemas ul img {
    max-width: 15px;
}

#divOtros {
    padding-top: 35px;
    padding-left: 15px;
}

#divOtros h3 {
    color: white;
}
